* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}
/*  hideValue */
/* main-nav */
/* close-outline */
body {
  transition: all 0.5s;
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
  /* background-color: #e9e9e9; */
}

.body {
  background-color: #e0d9d9;
  /* width: 1500px; */
  /* margin: 0 auto; */
}

.hidden {
  display: none !important;
  /* background-color: red; */
}

.top-margin {
  margin-top: 2.4rem !important;
}

.bottom-margin {
  margin-bottom: 2.4rem !important;
}

.hover:hover {
  transition: all 0.3s;
  background-color: #636363;
}
/**********************
  LOGIN PAGE
***********************/

/**********************
  HEADER 
***********************/

.header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.4rem;
  position: relative;
  display: none;
}

.only-logo-nav {
}

.main-nav {
  display: none;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  /* font-size: 2rem; */
  width: 4.8rem;
  height: 4.8rem;
  color: #333;
}

/* .icon-mobile-nav[name="close-outline"] {
  display: none;
} */

.close-outline {
  display: none;
  transition: all 0.3s;
  transform: translateX(-920%);
}

.logo {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  background-color: #5c5c5c;
  padding: 1.8rem;
  color: #c5c5c5;
  border-radius: 100000px;
  margin-bottom: 4rem;
}

/**********************
  LOGIN SECTION 
***********************/

.login-section {
  margin-top: 9.6rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35rem;
  /* width: auto; */
  /* background-color: white; */
  margin: 0 auto;
  border: 1px solid #ebebeb;
  padding: 9.6rem 4.8rem;
  padding-top: 7.2rem !important;
  border-radius: 9px;
}

.login-form {
  width: 100%;
}

.login-input {
  width: 100%;
  padding: 1.4rem 0;
  padding-left: 0.8rem;
  /* padding-right: 3.6rem; */
  border-radius: 6px;
  border: 1px solid #8b8b8b;
}

.login-input::placeholder {
  color: rgb(209, 209, 209);
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.8rem;
  height: 14.8rem;
  background-color: #c5c5c5;
  border-radius: 1000px;
  margin-bottom: 3.2rem;
}

.img-login-icon {
  width: 12.8rem;
  border-radius: 1000px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.btn {
  border: none;
  width: 100%;
  padding: 1.4rem 0;
  border-radius: 6px;
}

.btn-sing-in {
  background-color: #8b8b8b;
}

.btns-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-help-links {
  display: flex;
  justify-content: space-between;
}

/* .create-acc {
  font-size: 1.2rem;
} */

/**********************
  REGISTER PAGE
***********************/

.registe-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
  margin: 0 auto;
  margin-top: 6rem;
  /* background-color: #5c5c5c; */
  border: 1px solid #ebebeb;
  padding-top: 6.4rem !important;
  padding: 7.2rem 4.8rem;
  border-radius: 9px;
}

.logo-form {
  display: inline-block;
  width: 15rem;
  height: 15rem;
  background-color: #5c5c5c;
  padding: 2.4rem;
  color: #c5c5c5;
  border-radius: 100000px;
  margin-bottom: 4rem;
}

.form-texts-reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 4rem;
}

.form-title-log {
  margin-bottom: 2.4rem;
}

.form-title-log,
.form-title-reg {
  font-size: 2.4rem;
}

.fomr-tex-reg {
  font-size: 1.6rem;
  opacity: 0.7;
}

.form-btn-back-reg {
  /* text-decoration: none; */
  font-size: 1.4rem;
  color: #474747;
}

.form-btn-back-reg:hover {
  color: #1e1e1e;
  text-decoration: none;
}

.form-container {
  /* background-color: #c5c5c5; */
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.form-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
}

.form-label-reg {
  font-size: 1rem;
}

.form-input {
  padding: 1.4rem 0;
  padding-left: 0.8rem;
  width: 100%;
  /* padding-right: 3.6rem; */
  border-radius: 6px;
  border: 1px solid #8b8b8b;
  margin-top: 0.8rem;
}

.form-btn {
  padding: 1.4rem 0;
  border-radius: 6px;
  border: none;
  background-color: #8b8b8b;
  transition: all 0.3s;
}

.form-btn:hover {
  background-color: #636363;
}

.error-no-filled,
.error-to-cofirm,
.error-to-email {
  font-size: 1.2rem;
  color: red;
}

.error-to-cofirm-2 {
  border-color: red;
}

/**********************
  INDEX PAGE
***********************/

.section {
  /* margin: 0 19.2rem; */
  width: 120rem;
  margin: 0 auto;
}

.values-section {
  display: grid;
  grid-template-columns: 25fr 75fr;
  gap: 2.4rem;
}

.values-container {
  display: flex;
  align-items: center;
  /* background-color: aquamarine; */
  background-color: #ebebeb;
  border-radius: 9px;
}

.values-container-content {
  /* background-color: rgb(158, 201, 201); */
  width: 100%;
  margin: 3.8rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2.4rem;
}

.values-container-primary,
.value-container-secundary {
  border-radius: 9px;
}

.values-container-primary {
  background-color: #c5c5c5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.8rem 9.6rem;
}

.eye-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.eye-icon {
  display: none;
  width: 4.8rem;
  height: 4.8rem;
}

.visible {
  display: block;
}

.value-name-primary {
  font-size: 2.4rem;
}

.value-money-primary {
  font-size: 4.8rem;
}

.hideValue {
  border-radius: 8px;
  background-color: #8b8b8b;
  color: #8b8b8b;
  user-select: none;
}

.values-container-secundary {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: 1fr 1fr;
}

.value-secundary {
  padding: 4.8rem 9.6rem;
}

.value-container-secundary {
  background-color: #c5c5c5;
  display: flex;
  align-items: center;
}

.value-name-secundary {
  font-size: 1.4rem;
}

.value-money-secundary {
  font-size: 3.6rem;
}

/* main {
  height: auto;
} */
.perfil-container {
  /* background-color: aqua; */
  background-color: #ebebeb;
  /* border: 1px solid #8b8b8b; */
  padding: 2.4rem;
  border-radius: 9px;
}

.img-container-index {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
  padding: 5rem 1rem;
  /* margin: 2rem; */
  margin-bottom: 2rem;
  border-radius: 11px;
  background-color: #c5c5c5;
}

.img {
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.btn-perfil {
  background-color: #8b8b8b;
}

.perfil-name {
  font-size: 1.6rem;
  /* color: white; */
}

/**********************
  MOVEMENT SECTION
***********************/

.movement-section {
  margin-top: 6.4rem;
  /* background-color: rgb(189, 166, 166); */
}

.add-mov-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7.2rem;
  border-radius: 9px;
  overflow: hidden;
  background-color: #ebebeb;
  padding: 2.4rem;
}

.select_add-mov-function {
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  background-color: #1e1e1e;
  padding: 2.4rem 4.8rem;
  border-radius: 9px;
}

.add-mov-function {
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  background-color: #c5c5c5;
  padding: 2.4rem 4.8rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.add-mov-function:hover {
  background-color: #585858;
  transform: scale(1.1);
}

.mov-function-name {
  font-size: 1.6rem;
}

.select-mov-function-name {
  /*titulo selecionado*/
  font-size: 1.6rem;
  color: white;
}

.add-mov-action {
  margin-top: 2rem;
  padding: 2.4rem;
  border-radius: 9px;
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  margin-top: 1rem;
  border-radius: 9px;
  border: 1px solid #8b8b8b;
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
}

.form-label {
  font-size: 1.6rem;
  text-align: center;
}

.data-form {
  display: flex;
  flex-direction: row;
  /* gap: 1.2rem; */
}

.input-data {
  /* top: 25%; */
  border-radius: 9px;
  border: 1px solid #8b8b8b;
  align-self: end;
  height: 3.2rem;
  padding: 0.8rem 0.4rem;
  font-size: 1.4rem;
}

.received,
.to-recive,
.payed,
.to-pay {
  border-radius: 9px;
  border: 1px solid #585858;
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
}

.received {
  background-color: rgb(114, 241, 114);
}

.to-recive {
  background-color: rgb(66, 128, 66) !important;
  /* background-color: rgb(0, 0, 0) ; */
}

.payed {
  background-color: rgb(207, 64, 64);
}

.to-pay {
  background-color: rgb(138, 42, 42) !important;
}

.value-form input {
  width: 12rem;
  text-align: center;
}

.btn-add-mov {
  border: none;
  border-radius: 9px;
  background-color: #8b8b8b;
  padding: 1.2rem 2.4rem;
  align-self: flex-end;
}

/**********************
  EXTRACT SECTION
***********************/

.section-title {
  font-size: 2.4rem;
}

.extract-section {
  margin-top: 6.4rem;
}

.extract-container {
  background-color: #ebebeb;
  border-radius: 9px;
  padding: 2.4rem;
}

.extract-mov-container,
.extract-mov-filter {
  background-color: #c5c5c5;
  border-radius: 9px;
  margin-top: 2rem;
  padding: 2.4rem;
}

.extract-mov-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.extract-mov-filter {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  gap: 2.4rem;
  align-items: center;
  /* flex-direction: ; */
}

.extract-mov-filter-2 {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.filter-title {
  font-size: 1.8rem;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.filter-label {
  font-size: 1.6rem;
  /* margin-bottom: 1.2rem; */
}

.filter-select {
  margin-top: 1rem;
  border-radius: 9px;
  border: 1px solid #8b8b8b;
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
}

.moviment {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  background-color: #8b8b8b;

  padding: 1.4rem 2.8rem;
  border-radius: 9px;
}

.moviment p,
.moviment svg {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}

.icon-mov {
  border-radius: 1000px;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.4rem;
  background-color: #5c5c5c;
  transition: all 0.3s;
}

.icon-mov:hover {
  background-color: #1e1e1e;
}

/**********************
  ADD CATEGORY SECTION
***********************/
/* add-mov-container */
.btn--close-add {
  font-family: inherit;
  /* display: inline-block; */
  color: inherit;
  position: absolute;
  top: -0.4rem;
  right: 1.4rem;
  font-size: 4.8rem;
  cursor: pointer;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.add-category-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8b8b8b;
  z-index: 1003;
  padding: 3.8rem 5.2rem;
  border-radius: 9px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.add-category-title {
  font-size: 4.8rem;
}

/* .add-category-container-2 {
  width: 75%;
} */

.add-category-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.4rem;
}

.add-category-content {
  font-size: 1.4rem;
}

.add-category-input {
  border-radius: 9px;
  font-size: 1.4rem;
  padding: 0.6rem;
}

.add-category-container-btns {
  margin-top: 1.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}

.btn-add-category-container {
  /* width: 100%; */
  border: none;
  border-radius: 9px;
  padding: 1.2rem 2.4rem;
  font-size: 1.4rem;
}

.btn-add-category-confirm {
  background-color: #c5c5c5;
}

.add-category-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #1e1e1e; */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  /* opacity: 1; */
  z-index: 100;
  transition: all 0.5s;
}

/**********************
  GRAPH SECTION
***********************/

.grap-section {
  margin-top: 3.4rem;
  background-color: #ebebeb;
  /* background-color: #c5c5c5; */
  padding: 2.4rem;
  border-radius: 9px;
}

.grap-title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

canvas {
  border-radius: 9px;
  border: 1px solid gainsboro;
  background: white;
  border: 2.4rem solid #c5c5c5;
  /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); */
}

/*************************
  CONFIRM BUTTONS
*************************/

.hidden-confirm {
  visibility: hidden;
  opacity: 0;
}

.overlay {
  /* content: ""; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #1e1e1e; */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  /* opacity: 1; */
  z-index: 100;
  transition: all 0.5s;
}

.modal {
  transition: all 0.5s;
  padding: 3.8rem 5.2rem;
  border-radius: 9px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8b8b8b;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* gap: 2.4rem; */
}

.btn--close-modal {
  font-family: inherit;
  /* display: inline-block; */
  color: inherit;
  position: absolute;
  top: -0.4rem;
  right: 1.4rem;
  font-size: 4.8rem;
  cursor: pointer;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.btn--close-modal:hover {
  color: #636363;
}

.modal-title {
  font-size: 6.4rem;
}

.modal-content {
  margin-top: 1.8rem;
  text-align: center;
  width: 75%;
  font-size: 2.4rem;
  opacity: 50%;
}

.modal-container-btns {
  width: 100%;
  margin-top: 6.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
}

.btn-modal {
  /* display: block; */
  width: 100%;
  border: none;
  border-radius: 9px;
  padding: 1.2rem 2.4rem;
}

.btn-modal-confirm {
  background-color: #c5c5c5;
}

.btn-modal:hover {
  background-color: #5c5c5c;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.65);
}

/* achar o lugar certo no css dps #8b8b8b  */
.btn-add-category {
  background-color: #8b8b8b;
  transition: all 0.3s;
}

.btn-add-category:hover {
  background-color: #636363;
}

@media (max-width: 600px) {
  /* .section-hero {
    background-color: #000000;
  } */

  html {
    font-size: 32%;
  }

  .login-container {
    width: 50rem;
    font-size: 160%;
  }

  .img-container {
    width: 20.8rem;
    height: 20.8rem;
  }

  .img-login-icon {
    width: 18rem;
  }

  .btn-sing-in {
    margin-top: 1.4rem !important;
    padding: 2rem 0;
  }

  .login-input {
    padding: 2rem 0;
    padding-left: 0.8rem;
  }

  .header {
    display: flex;
    /* position: fixed; */
  }

  .top-margin {
    margin-top: 0 !important;
  }

  .section {
    width: 75rem;
    /* margin: auto 0; */
  }

  .values-section {
    /* display: grid;
    grid-template-columns: 25fr 75fr; */
    grid-template-columns: 1fr;
    /* gap: 2.4rem; */
  }

  .main-nav {
    /* width: 100%; */
    display: block;
    background-color: rgba(255, 255, 255, 0.97);
    /* position: absolute; */
    position: fixed;
    /* transform: translateX(150%); */
    transform: translateX(250%);
    /* pointer-events: none; */
    /* visibility: hidden; */
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    transition: all 0.5s;
  }

  .to-close {
    transform: translateX(570px) !important;
  }

  .to-open {
    transform: translateX(365px) !important;
  }

  .main-nav-list {
    margin-top: 2.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.6rem;
    list-style: none;
  }

  li {
    /* width: 90%; */
    width: 80%;
  }

  .img-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c5c5c5;
    border-radius: 9px;
    padding: 2.8rem 2.8rem;
    gap: 2.4rem;
  }

  .img-login-icon-mobile {
    width: 20.8rem;
    border-radius: 1000px;
  }

  .perfil-name-mobile {
    font-size: 2.4rem;
  }

  .main-nav-link {
    display: block;
    font-size: 2.4rem !important;
    width: 100%;
    /* margin: 0 1.8rem; */
    /* padding: 1.8rem 14rem; */
    /* box-shadow: rgba(1, 1, 1, 0.1); */
    /* background-color: red; */
  }

  .btn-mobile-nav {
    display: block;
  }

  .perfil-container {
    display: none;
    background-color: #ebebeb;
    padding: 2.4rem;
    border-radius: 9px;
  }

  .btn-perfil {
    font-size: 1.2rem;
  }

  .add-mov-action {
    /* margin-top: 2rem; */
    /* padding: 2.4rem; */
    /* border-radius: 9px; */
    /* background-color: #ebebeb; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* gap: 1.2rem; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5rem;
  }

  .form-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-div-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-div-3 {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
  }

  .extract-mov-filter {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
  }

  .extract-mov-filter-2 {
    display: flex;
    gap: 2.4rem;
    align-items: center;
  }

  /* 



 */
}

@media (max-width: 570px) {
  .close-outline {
    transform: translateX(-850%);
  }

  .to-close {
    transform: translateX(570px) !important;
  }

  .to-open {
    transform: translateX(350px) !important;
  }
}

@media (max-width: 550px) {
  .close-outline {
    transform: translateX(-850%);
  }

  .to-close {
    transform: translateX(570px) !important;
  }

  .to-open {
    transform: translateX(330px) !important;
  }
}

@media (max-width: 520px) {
  .modal-title {
    text-align: center;
  }

  .close-outline {
    transform: translateX(-800%);
  }

  .to-close {
    transform: translateX(570px) !important;
  }

  .to-open {
    transform: translateX(320px) !important;
  }
}

@media (max-width: 500px) {
  .close-outline {
    transform: translateX(-775%);
  }

  .to-close {
    transform: translateX(570px) !important;
  }

  .to-open {
    transform: translateX(300px) !important;
  }
}

@media (max-width: 470px) {
  .close-outline {
    transform: translateX(-775%);
  }

  .to-close {
    transform: translateX(570px) !important;
  }

  .to-open {
    transform: translateX(280px) !important;
  }
}

@media (max-width: 440px) {
  .close-outline {
    transform: translateX(-725%);
  }

  .to-close {
    transform: translateX(570px) !important;
  }

  .to-open {
    transform: translateX(265px) !important;
  }
}

@media (max-width: 410px) {
  .close-outline {
    transform: translateX(-650%);
  }

  .to-close {
    transform: translateX(570px) !important;
  }

  .to-open {
    transform: translateX(245px) !important;
  }
}

@media (max-width: 390px) {
  .close-outline {
    transform: translateX(-650%);
  }

  .to-close {
    transform: translateX(570px) !important;
  }

  .to-open {
    transform: translateX(235px) !important;
  }
}

@media (max-width: 390px) {
  .img-login-icon-mobile {
    width: 16.8rem;
  }

  .close-outline {
    transform: translateX(-650%);
  }

  .to-close {
    transform: translateX(570px) !important;
  }

  .to-open {
    transform: translateX(235px) !important;
  }
}

@media (max-width: 360px) {
  .close-outline {
    transform: translateX(-620%);
  }

  .to-close {
    transform: translateX(570px) !important;
  }

  .to-open {
    transform: translateX(217px) !important;
  }
}

@media (max-width: 360px) {
  .close-outline {
    transform: translateX(-600%);
  }

  .to-close {
    transform: translateX(570px) !important;
  }

  .to-open {
    transform: translateX(205px) !important;
  }
}

@media (max-width: 320px) {
  .close-outline {
    transform: translateX(-600%);
  }

  .to-close {
    transform: translateX(570px) !important;
  }

  .to-open {
    transform: translateX(195px) !important;
  }
}
